{% extends 'base.html' %}
{% block content %}
    <div style="max-width: 40%; margin: auto; padding: 20px;">
        <h1 style="text-align: center; color: #333;">Update Recipe</h1>
        <form method="post" enctype="multipart/form-data" style="background: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
            {% csrf_token %}
            <div style="margin-bottom: 15px;">
                <label for="textField" style="font-weight: bold;">Recipe Name</label>
                <input type="text" id="textField" name="recipe_name" value="{{data.recipe_name}}" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
            </div>
            <div style="margin-bottom: 15px;">
                <label for="textArea" style="font-weight: bold;">Recipe Process</label>
                <textarea id="textArea" name="recipe_desciption" rows="4" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">{{data.recipe_desciption}}</textarea>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="fileUpload" style="font-weight: bold;">Image Upload</label>
                <input type="file" id="fileUpload" name="recipe_image"  style="padding: 10px;">
            </div>
            <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer;">Submit</button>
        </form>
    </div>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
        }
    </style>

{% endblock %}